
.bg-grandgreen
{
background-color: $grand-green;
}

// Typography

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4, .navbar-brand {
    font-family: 'Libre Baskerville', serif;
}
.main h2
{
    padding-top: 2rem;
}

//links and buttons
.main a{
    color: $grand-green;
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
  }
li > a > h6
{
    font-weight: 700;
}
table
{
    widtH: inherit;
    font-size: 0.8rem;
}
.no-underline
{
    a{
        text-decoration: none;
    }
}